html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    min-height: 100%;
    
}

div {
    font-family: monospace;
}


.optionDiv{
    margin: 10px;
    display:grid;
}
.chartOptions{
   display:flex;

}
.title {
    display: inline-flex;
    background-color: #304669;
    color: #EBF4FA;
    height: 100px;
    margin: 0px;
    position: relative;
    width: 100vw;
    padding-left: 25px;
    align-items: center;
    justify-content: center;
    font-family: monospace;
}

.formStyle {
    margin-top: 60px; 
    margin-left:60px;
    margin-bottom:50px;
    display: flex;
    justify-content:left;
    font-size:20px;
    gap:60px;
    overflow:auto;
}

table {
    border-style: ridge !important;
    border-color: cadetblue !important;
    border-width: 2px !important;
    overflow-y: scroll;
    display: block;
    max-height:450px;
    width:fit-content;
}



td {
    border-color: cadetblue;
    border-width: 1px !important;
}

.tableStyle{
    margin-top:60px;
    font-size: 18px;
    display:flex;
    justify-content:center;
    gap:80px;
}

.powerTable {
    margin: 5px;
    height: 250px;
    width: 100%;
}
.energyTable {
    margin: 5px;
    height: 250px;
    width: 100%;
}
.chartStyle{
    margin-top:50px;
    display:flex;
    justify-content:center;
    height:450px;
    width:80%;
}



tbody {
    height: 250px;
   
}

.chartDiv{
    display:inline-flex;
}

#powerDataChart,
#energyDataChart,
#powerShowChart,
#energyShowChart{
    margin:50px;
}


.page {
    min-height: 100%;
}

body {
    height: 100vh;
}


.main-content {
    flex-grow: 1;
    padding: 20px;
}

.sidebarIcon {
    position: absolute;
    left: 10px;
    cursor: pointer;
}
.bi-list::before {
    margin-right: 15px;
    font-size: 54px;
}

.toolOption {
    height: 150px;
    width: 450px;
    overflow-y: scroll;
    margin-left: 50px;
    border:1.5px solid gray;
}

.fontStyle {
    font-size: 22px;
    font: bold;
    margin: 10px;
}

.searchBtn {
    margin: 20px;
    border: 2px solid gray;
    background-color: #e5e7e8;
    color: dimgray;
    width:120px;
    height:70px;
    font-size:32px;
}

.dateStyle {
    width: 450px;
    height:50px;
    margin-left: 50px;
}

#historyPowerChart,
#historyEnergyChart{
    margin:10px;
}
#historyPowerTable,
#historyEnergyTable{
    margin:10px;
    display:flex;
    justify-content:center;
}



