html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    min-height: 100%;
    
}

div {
    font-family: monospace;
}


.optionDiv{
    margin: 10px;
    display:grid;
}
.chartOptions{
   display:flex;

}
.title {
    display: flex; /* 使用 flex 布局 */
    background-color: #304669;
    color: #EBF4FA;
    height: 100px;
    margin: 0;
    position: relative; /* 不使用 fixed，讓標題可以滾動 */
    width: 100%; /* 設置寬度，根據 sidebar 來減去 250px */
    padding-left: 25px;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 增加陰影效果以增強視覺層次 */
    transition: width 0.3s ease; /* 增加寬度變化的平滑效果 */
}

.sidebar.hidden ~ .title {
    width: 100%; /* 當 sidebar 隱藏時，標題寬度變為 100% */
}


.formStyle {
    margin-top: 60px; 
    margin-left:60px;
    margin-bottom:50px;
    display: flex;
    justify-content:center;
    font-size:20px;
    gap:60px;
    overflow:auto;
}
#powerTableContainer,#energyTableContainer {
    max-height: 300px;
    overflow-y: scroll;
}
.stayCenter{
    display:grid;
    justify-items:center;
}
.card {
    display: inline-flex;
    justify-content: center;
}
.card-header:first-child{
    background-color: #304669;
    color:aliceblue;
}
.scrollable-table-container {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #ECF5FF;
    z-index: 10;
}

table {

    width: 100%;
    border-collapse: collapse;
}

    table th, table td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }




.powerTable {
    margin: 5px;
    height: 250px;
    width: 100%;
}
.energyTable {
    margin: 5px;
    height: 250px;
    width: 100%;
}
.chartStyle{
    margin-top:50px;
    display:inline-flex;
    justify-content:center;
    justify-self:center;
    height:auto;
    width:80%;
}



/*tbody {
    height: 250px;
   
}*/

.chartDiv{
    display:inline-flex;
}

#powerDataChart,
#energyDataChart,
#powerShowChart,
#energyShowChart{
    margin:50px;
}


.page {
    min-height: 100%;
}

body {
    height: 100vh;
}


.main-content {
    flex-grow: 1;
    padding: 20px;
}

.sidebarIcon {
    position: absolute;
    left: 10px;
    cursor: pointer;
}
.bi-list::before {
    margin-right: 15px;
    font-size: 54px;
}

.toolOption {
    height: 150px;
    width: 450px;
    overflow-y: scroll;
    margin-left: 50px;
    border:1.5px solid gray;
}

.fontStyle {
    font-size: 22px;
    font: bold;
    margin: 10px;
}

.searchBtn {
    margin: 20px;
    border: 2px solid gray;
    background-color: #e5e7e8;
    color: dimgray;
    width:120px;
    height:70px;
    font-size:32px;
}

.dateStyle {
    width: 450px;
    height:50px;
    margin-left: 50px;
}

#historyPowerChart,
#historyEnergyChart{
    margin:10px;
}
#historyPowerTable,
#historyEnergyTable {
    max-height: 300px;
    overflow-y: scroll;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.blockStyle {
    display: inline-flex;
    gap: 25px;
    height: auto;
    width: 100%;
    padding: 15px;
    background-color: #ECF5FF;
    justify-content: center;
    align-items: center;
}
.whiteBlock {
    display: inline-flex;
    gap: 25px;
    height: auto;
    width: 100%;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.resultDiv {
    width: fit-content;
    height: 60px;
    font-size: 24px;
    border: solid 3px #66B3FF;
    background-color: #ECF5FF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 5px 0px #003060;
}

}