<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/site.css" type="text/css">
    </head>
    <body>
    <div class="LogPageContainer">
        @await Html.PartialAsync("bg")
        <div class="LogBoxContainer">
            <h1>PowerGlow</h1>
            <div class="input-group mb-3" id="account">
              <span class="input-group-text" id="basic-addon1">Account/Email</span>
              <input type="text" class="form-control" placeholder="input your email/account" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3" id="showPassword">
                <span class="input-group-text" id="basic-addon1">Password</span>
                <input type="text" class="form-control" placeholder="input your password" aria-label="Username" aria-describedby="basic-addon1">
                <i class="bi bi-eye-fill"></i>
            </div>
            <div id="signText"></div>
            <div class="line">
                <a href="#">Forget Password ?</a> 
                <a href="@Url.Action("Register","Login")">Don't have account ?</a>
            </div>
            <button class="btn btn-primary" type="submit" id="login">LOG IN</button>
        </div>
    </div>
   
    </body>
    
</html>
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#showPassword i").on('click', function (event) {
                event.preventDefault();
                if ($('#showPassword input').attr("type") == "text") {
                    $('#showPassword input').attr('type', 'password');
                    $('#showPassword i').addClass("bi-eye-slash-fill");
                    $('#showPassword i').removeClass("bi-eye-fill");
                } else if ($('#showPassword input').attr("type") == "password") {
                    $('#showPassword input').attr('type', 'text');
                    $('#showPassword i').removeClass("bi-eye-slash-fill");
                    $('#showPassword i').addClass("bi-eye-fill");
                }
            });

            $('#login').on('click', function (event) {
                login();
            })

         
            function login() {
                var pw = $('#showPassword input').val();
                var account = $('#account input').val();
                var key = CryptoJS.enc.Utf8.parse('54160469');
                var encrypted = CryptoJS.AES.encrypt(pw, key, {
                    mode: CryptoJS.mode.ECB,
                    padding: CryptoJS.pad.Pkcs7
                }).toString();
                console.log(account + "   / " + encrypted);
                $.ajax({
                    url: '/api/Api/login',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        name: account,
                        pw: encrypted
                    }),
                    success: function () {
                        alert("Welcome to PowerGlow System");
                        window.location.href = '/Chart/Index';
                    },
                    complete: function () {
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        if (jqXHR.status === 400) {
                            var response = JSON.parse(jqXHR.responseText);
                            $('#signText').text(response.message); // 显示来自服务器的错误消息
                        } else {
                            $('#signText').text('');
                            alert('An error occurred during log in. Please try again.');
                        }
                    }
                })
            }
     
        });


    </script>
}


<style>
    .LogBoxContainer {
        position: fixed;
        display: inline-grid;
        gap:15px;
        background-color: #EBF4FA;
        width: 650px;
        height: 500px;
        border-radius: 50px;
        box-shadow: -1px 1px 10px 8px gray;
        place-content: center;
        place-items: center;
    }

    .LogPageContainer {
        width: 100%;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        width: fit-content;
        position:absolute;
        top:50px;
    }

    .input-group {
        width: 500px;
    }

    a{
        color:dimgray;
        font-size:16px;
    }

    .line{
        width:fit-content;
        display:inline-flex;
        gap:20px;
    }

    .bi-eye-fill,
    .bi-eye-slash-fill {
        position:absolute;
        right:10px;
        top:5px;
        font-size:20px;
        cursor:pointer;
    }

    #signText {
        color: darkred;
        font-size: 18px;
    }

    .btn {
        background-color: darkgray;
        border-color: darkgray;
        width: 120px;
        height: 50px;
        font-size: 18px;
    }

        .btn:hover {
            background-color: gray;
            border-color: gray;
        }

</style>
