<div class="loader">
    <div class="spinner-border text-primary" role="status"> </div>
    <span class="loadingText">  Data is Loading ...</span>
</div>




<style>
  .spinner-border{
      width:78px;
      height:78px;
      display:flex;
  }
  .loader{
      width:100vw;
      height:auto;
      display: grid;
      place-content:center;
      place-items:center;
        
  }

  .loadingText{
      font-size:28px;
        color: #0057A0;
        margin-top:25px;
  }


    
</style>
