
<div  style="width: 250px;">
   
   
    <hr>
    <ul>
        <li>
            <a href="#" aria-current="page">
                Home
            </a>
        </li>
        <li>
            <a href="#">
                PowerGlow Live Chart
            </a>
        </li>
        <li>
            <a href="#">
                AI Consult
            </a>
        </li>
 
    </ul>
    <hr>
    
    </div>
</div>

<script>
    const sidebarClicked=false;
    function sideBarClicked() {
        var sideBar = document.getElementsByClassName("sidebar")[0];
        var page = document.getElementsByClassName("pageContainer")[0];
        console.log('clicked');
        if (sideBar && page) {
            if (!sidebarClicked) {
                sideBar.classList.add('hidden');
                sideBar.classList.remove('show');
                page.classList.add('hidden');
                sidebarClicked = true;
            } else {
                sideBar.classList.add('show');
                sideBar.classList.remove('hidden');
                sidebarClicked = false;
            }
        } else {
            console.log("Sidebar or pageContainer not found");
        }
    }

</script>

<style lang="scss">
   


    .sidebar {
        width: 250px;
        cursor: pointer;
        transition: transform 0.3s ease;
        
    }

     .sidebar.hidden {
        transform: translateX(-100%);
    

     }

     .sidebar.show {
         transform: translateX(0);
     }
   

</style>