
<div  style="width: 250px;" class="sidebarStyle">
 
        <div class="companyDiv">
        <i class="bi bi-buildings"></i>
        <h3 id="title"><b></b></h3>
        </div>
    

    <div class="content">
        <div class="btnDiv">
            <a href="@Url.Action("Index", "Chart")" aria-current="page">
                Home
            </a>
        </div>
        <div class="btnDiv">
            <a href="@Url.Action("Index", "ChartView")">
                Power Live Chart
            </a>
        </div>
        <div class="btnDiv">
            <a href="@Url.Action("Index", "History")">
                History Analyze
            </a>
        </div>
        <div class="btnDiv">
            <a href="#">
                AI Consult
            </a>
        </div>
        
    </div>
     <div class="logBtn">
        <i class="bi bi-door-open-fill"></i>
         <a href="@Url.Action("Index","Login")">LOG OUT</a>
     </div>
</div>

<script>
    let sidebarClicked=false;
    function sideBarClicked() {
        var sideBar = document.getElementsByClassName("sidebar")[0];
        var page = document.getElementsByClassName("pageContainer")[0];
        console.log('clicked');
        if (sideBar && page) {
            console.log('inside');
            if (!sidebarClicked) {
                sideBar.classList.add('hidden');
                sideBar.classList.remove('show');
                page.classList.add('hidden');
                sidebarClicked = true;
            } else {
                sideBar.classList.add('show');
                sideBar.classList.remove('hidden');
                page.classList.remove('hidden');
                sidebarClicked = false;
            }
        } else {
            console.log("Sidebar or pageContainer not found");
        }
    }

</script>

<style lang="scss">
   
    .bi-buildings{
        height: 110px;
        width: 110px;
        font-size: 56px;
        border-style: groove;
        border-width: 3px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color:#EBF4FA;
    }

    
    .companyDiv{
        height:220px;
        width:100%;
        padding:10px;
        display:inline-grid;
        justify-items:center;
        color:#EBF4FA;
    }

    .content{
        display:grid;
        gap:5px;
    
    }

    .sidebar {
        box-sizing:content-box;
        min-height:100vh ;
        width: 250px;
        transition: transform 0.3s ease;
        border-width:0px 2px 0px 0px;
        border-style:ridge;

    }

     .sidebar.hidden {
        transform: translateX(-100%);
    

     }

     .sidebar.show {
         transform: translateX(0);
     }

     .sidebarStyle{
        background-color:#304669;
        height:100%;
     }

     .btnDiv{

           padding:8px;
           font-size:22px;
           border-style:inset;
           border-width:1px 0px;
           a{
               color:#EBF4FA;
               text-decoration:none;
               font-family: monospace;
           }
     }
     .logBtn{
         position:sticky;
         top:865px;
         font-size:34px;
         padding:8px;
         margin-left:20px;
           a{
               color:#EBF4FA;
               text-decoration:none;
               font-family: monospace;
               font-size:22px;
           }
     }
   
     .bi-door-open-fill{
         color:#EBF4FA;
     }

</style>